.headings2{
    text-align: center;
}
form{
    /* display: inline-block; */
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid darkgray;
    padding: 20px;
    width: 50%;
    margin-bottom: 10px;
}
.donationButton{
    padding: 10px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}