
body{
    background-image: url("pictures/gif1.gif");
}

.center{
    text-align: center;
}
.background1{
    background-color: white;
    margin:10%;
    padding: 1%;
    
}

.line{
    line-height: 2;
}
.intro{
    margin: auto;
    width: 50%;
    border: 10px solid black;
    padding: 2%;
}